---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

import ogImage from "../../assets/og-image/blog.jpeg";

const blogEntries = await getCollection("blog");
---

<Layout
  title="Evann BACALA's personal website and blog"
  description="In here you will find some of my thoughts. They might be about everything and anything, as long as I find it interesting."
  ogImagePath={ogImage.src}
>
  <h1 id="blog-title">A place for my wandering thoughts...</h1>

  <section id="blog-entries">
    {
      blogEntries
        .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
        .map((blogEntry) => {
          const blogEntryDate = new Date(blogEntry.data.date);
          const blogEntryDateString = `${blogEntryDate.getFullYear()}-${(blogEntryDate.getMonth() + 1).toString().padStart(2, "0")}-${blogEntryDate.getDate().toString().padStart(2, "0")}`;

          return (
            <a class="blog-entry" href={`/blog/${blogEntry.slug}/`} class="debug">
              ({blogEntryDateString}) - {blogEntry.data.title}
            </a>
          );
        })
    }
  </section>
</Layout>
