---
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob('./*.md*');

const getBlogDateString = (dateString: string) => {
    const blogDate = new Date(dateString);
    return `${blogDate.getFullYear()}-${(blogDate.getMonth() + 1).toString().padStart(2, '0')}-${blogDate.getDate().toString().padStart(2, '0')}`
}
---

<Layout title="Evann's blog" description="Some thoughts here and there">
    <section class="space-y-6 mb-8">
        <h1 class="text-3xl md:text-5xl lg:text-6xl italic text-center">Evann's blog</h1>
        <p class="text-lg md:text-2xl lg:text-3xl italic text-center">A place for my wandering thoughts...</p>
    </section>

    <section class="w-full max-w-screen-md mx-auto space-y-4 flex flex-col">
        {
            posts.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime())
                 .map(post => {
                    const url = post.url.split('/').slice(-1)[0];
                    const urlWithSlash = url.endsWith('/') ? url : `${url}/`;
                    return <a href={urlWithSlash} class="text-base md:text-lg lg:text-xl hover:underline">{post.frontmatter.title} ({getBlogDateString(post.frontmatter.date)})</a>
                })
        }
    </section>
</Layout>