---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

const blogEntries = await getCollection("blog");
const blogEntriesSorted = blogEntries.sort(
  (a, b) => new Date(b.data.publishedDate).getTime() - new Date(a.data.publishedDate).getTime()
);
---

<Layout>
  <h1 class="text-center">A place for my wandering thoughts...</h1>

  <section class="flex flex-col items-start justify-center gap-4">
    {
      blogEntriesSorted.map((blogEntry) => {
        const blogEntryDate = new Date(blogEntry.data.publishedDate);
        const blogEntryDateString = `${blogEntryDate.getFullYear()}-${(blogEntryDate.getMonth() + 1).toString().padStart(2, "0")}-${blogEntryDate.getDate().toString().padStart(2, "0")}`;

        return (
          <a href={`/blog/${blogEntry.data.id}/`}>
            ({blogEntryDateString}) - <span transition:name={`post-${blogEntry.data.title}`}>{blogEntry.data.title}</span>
          </a>
        );
      })
    }
  </section>
</Layout>
