---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import profilePicture from "../assets/img/profile-picture.png";
import ogImage from "../assets/og-image/about-me.jpeg";

const description =
  "Welcome to my personal website! I'm Evann BACALA, a french developer currently based in New Zealand. Get to know a bit about me, my projects and my blog here.";

const socialLinks = [
  {
    name: "GitHub",
    link: "https://github.com/ebacala",
    logo: import("../assets/img/logos/github.png"),
    alt: "GitHub account",
  },
  {
    name: "Bluesky",
    link: "https://bsky.app/profile/ebacala.com",
    logo: import("../assets/img/logos/bluesky.png"),
    alt: "Bluesky account",
  },
  {
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/evann-bacala-491a70150/",
    logo: import("../assets/img/logos/linkedin.webp"),
    alt: "LinkedIn account",
  },
];
---

<Layout title="Evann BACALA's personal website and blog" description={description} ogImagePath={ogImage.src}>
  <section id="summary">
    <Image id="profile-picture" loading="eager" src={profilePicture} alt="Evann BACALA" />

    <h1>Hi I'm Evann Bacala</h1>

    <div id="social-links">
      {
        socialLinks.map((link) => (
          <a href={link.link} target="_blank" rel="noopener">
            <Image loading="eager" class="logo" src={link.logo} alt={link.alt} />
          </a>
        ))
      }
    </div>
  </section>

  <section id="presentation">
    <p>
      My tech journey began in 2016 with a 2-year computer science program, followed by a 3-year
      work-study program alternating between school and real-world projects, primarily for the
      French national health system. Since 2022, I've been continuously expanding my technical and
      soft skills through new technologies and tools.
    </p>
    <p>
      Currently in New Zealand for a working-holiday visa, I am keeping a foot in programming and
      software development along with <a href="/blog/">writing some stuff</a> I find interesting on this
      personal website.
    </p>
  </section>
</Layout>
