---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Project from "../components/Project.astro";
import SmallProject from "../components/SmallProject.astro";

import profilePicture from "../assets/img/profile-picture.png";
import linkstash from "../assets/img/projects/linkstash.png";

const socialLinks = [
  {
    name: "GitHub",
    link: "https://github.com/ebacala",
    logo: import("../assets/img/logos/github.png"),
    alt: "GitHub account",
  },
  {
    name: "Bluesky",
    link: "https://bsky.app/profile/ebacala.com",
    logo: import("../assets/img/logos/bluesky.png"),
    alt: "Bluesky account",
  },
  {
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/evann-bacala-491a70150/",
    logo: import("../assets/img/logos/linkedin.webp"),
    alt: "LinkedIn account",
  },
];
---

<Layout>
  <section class="flex flex-col items-center justify-center gap-4">
    <Image
      class="w-[125px] h-[125px] rounded-full border-1 border-neutral-300"
      priority
      src={profilePicture}
      alt="Evann Bacala"
    />

    <div class="flex flex-col items-center justify-center gap-2">
      <h1>Hi I'm Evann Bacala</h1>
      <div class="flex flex-col items-center justify-center gap-4">
        You can find me here
        <span class="flex flex-row items-center justify-center gap-2">
          {
            socialLinks.map((link) => (
              <a href={link.link} target="_blank" rel="noopener">
                <Image class="w-[25px] h-[25px]" priority src={link.logo} alt={link.alt} />
              </a>
            ))
          }
        </span>
      </div>
    </div>
  </section>

  <Card class="text-justify indent-4">
    Fullstack developer with 5+ years of experience building web applications using Vue.js, Node.js
    and Spring Boot, with modern development practices. Currently seeking remote frontend/fullstack
    opportunities. I <a class="underline" href="/blog/">write stuff</a> I find interesting on this personal
    website.
  </Card>

  <section class="flex flex-col items-start justify-center gap-8">
    <header class="flex flex-col items-start justify-center gap-4">
      <h1>Projects</h1>
      <div>
        Here are some side-projects I built to solve problems/issues I encountered or to try out new
        frameworks, libraries, etc.
      </div>
    </header>

    <Project
      title="Linkstash"
      projectlink="https://linkstash.ebacala.com"
      technologies={["Astro", "AlpineJs", "SQLite"]}
    >
      <Image slot="image" src={linkstash} alt="Linkstash project logo" priority />

      <div slot="body" class="flex flex-col gap-2 text-justify indent-4">
        <p>
          Simple bookmarks dashboard. The idea came to me when I kept on switching browsers and
          computers, I was tired of having to re-import my bookmarks all the time.
        </p>

        <p>
          There's a demo account if you want to check it out. The project is not available to
          external sign-ups.
        </p>

        <p>
          This project was my first playground to test out Astro SSR (using actions). It became my
          homepage on every browser and device I have. It will evolve with time as I find new ideas
          as to what can be implemented in it.
        </p>
      </div>
    </Project>
  </section>

  <section class="flex flex-col items-start justify-center gap-8">
    <header class="flex flex-col items-start justify-center gap-4">
      <h1>Small stuff</h1>
      <div>Here is the small stuff I built to solve small problems.</div>
    </header>

    <SmallProject
      title="Apple Photos EXIF Date Updater"
      projectlink="https://github.com/ebacala/apple-photos-exif-date-updater"
      technologies={["Bash"]}
    >
      <div slot="body" class="flex flex-col gap-2 text-justify indent-4">
        <p>
          This came from an issue I had when importing photos from Apple Photos to another tool.
          Full story <a class="underline" href="/blog/how-i-fixed-apple-photos-dates/">here</a>.
        </p>
      </div>
    </SmallProject>

    <SmallProject
      title="ebacala.com - OG Image Generator"
      projectlink="https://github.com/ebacala/ebacala.com-OG-Image-Generator"
      technologies={["Javascript", "Puppeteer"]}
    >
      <div slot="body" class="flex flex-col gap-2 text-justify indent-4">
        <p>
          I was tired of using external tools to create OG images so I built my own (super) small
          tool.
        </p>
      </div>
    </SmallProject>
  </section>
</Layout>
