---
import { Image } from 'astro:assets';

import js from "../assets/img/logos/js.webp";
import ts from "../assets/img/logos/ts.webp";
import vue from "../assets/img/logos/vue.webp";
import nodejs from "../assets/img/logos/nodejs.webp";
import java from "../assets/img/logos/java.webp";
import spring from "../assets/img/logos/spring.webp";
---

<script>
  import { createObserver } from "../helpers/animation";

  createObserver(document.getElementById("social")!, "animate-social");
  createObserver(document.getElementById("about-me")!, "animate-about-me");
  createObserver(
    document.getElementById("technologies")!,
    "animate-technologies"
  );
</script>

<section class="flex-column align-center justify-center">
  <div
    id="about-me"
    class="border-radius-10 flex-column align-center justify-space-around"
  >
    <h1>About me</h1>
    <div class="content">
      <p>
        My name is Evann BACALA and I am a 25 years old french software
        engineer. I began my tech journey in 2016 when I enrolled in a 2-year
        computer science curriculum. Having lightly tinkered with code (some
        HTML/CSS and Java) at the end of my middle school education, I knew I
        was made for computer science.
      </p>
      <p>
        I then enrolled in a 3-year work-school program where I would be
        spending 2 weeks learning at school and 2 weeks working on real life
        projects (mostly related to the French national health system) in a
        company.
      </p>
      <p>
        Since school ended in 2022, I am always eager to learn new technologies
        and tools that can strenghten my technical skills as well as my soft
        skills.
      </p>
      <p>
        Always focusing on delivering high-quality results, I am excited to
        bring my skills and experience onto the next project.
      </p>
    </div>
  </div>

  <div
    id="technologies"
    class="flex-row align-center justify-center w-80 flex-wrap"
  >
    <Image loading="eager" class="logo" src={js} alt="Javascript" />
    <Image loading="eager" class="logo" src={ts} alt="Typescript" />
    <Image loading="eager" class="logo" src={vue} alt="Vue" />
    <Image loading="eager" class="logo" src={nodejs} alt="NodeJS" />
    <Image loading="eager" class="logo" src={java} alt="Java" />
    <Image loading="eager" class="logo" src={spring} alt="Spring" />
  </div>
</section>

<style>
  @keyframes animation-technologies {
    0% {
      opacity: 0;
      transform: translate(0, 100%);
    }
    100% {
    }
  }

  .animate-technologies {
    animation: animation-technologies 1s linear 1s 1 normal both;
  }

  @keyframes animation-about-me {
    0% {
      opacity: 0;
      transform: translate(-100%, 0);
    }
    100% {
    }
  }

  .animate-about-me {
    animation: animation-about-me 1s linear 0s 1 normal both;
  }

  #about-me {
    background-color: white;
    border: 1px solid lightgrey;
    height: 70vh;
    padding: clamp(20px, 4vw, 40px);
    text-align: justify;
    width: 80vw;
  }
</style>
