---
import { ClientRouter } from "astro:transitions";
import "../assets/css/main.css";
import ogImageDefault from "../assets/og-image/about-me.png";

import Navbar from "../components/Navbar.astro";

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const url = canonicalUrl.href;

const title = "Evann BACALA's personal website and blog";
const description =
  "In here you will find some of my thoughts. They might be about everything and anything, as long as I find it interesting.";
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="description" content={description} />
    <meta name="robots" content="noimageindex" />
    <title>{title}</title>

    <link rel="canonical" href={url} />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={ogImageDefault.src} />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:card" content="summary" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <ClientRouter />
  </head>

  <body class="max-w-[600px] w-[90%] mx-auto pb-5 flex flex-col justify-start items-center gap-10">
    <Navbar />

    <slot />

    <footer>
      <a href="/credits/">Credits & Attributions</a>
    </footer>
  </body>
</html>
